*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.d_flex{
    display: flex !important;
}
.c_o{
    background-color: #f67b2b;
    color: #fff;
}
.c_r{
    color: red !important;
}
.c_w{
    background-color: #fff;
    margin-left: 8px;
}
.w_40{
    width: 30vw !important;
}
.w_100{
    width: 100vw !important;
}
.bd_r16{
    border-radius: 16px !important;
}
.m_b8{
    margin-bottom: 8px !important;
}

#header{
    /* padding-left: 64px; */
    /* padding-right: 16px; */
    height: 104px;
    width: 100%;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    background-color: #fc9c5f;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.logo{
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    margin-right: 16px;
    align-items: center;
}
.user{
    display: flex;
    align-items: center;
    margin-left: 64px;
}

.img1{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 16px;
}

.ht{
    width: 100vw;
    height: 78px;
    background-color: #f67b2b;
    position: absolute;
    left: 0;
    bottom: -48px;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;

}

#main{
    padding: 32px 64px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
}

.m_left{
    width: 65.5%;
}

.titles{
    margin-bottom: 32px;
}

.title{
    width: max-content;
    padding: 8px 16px;
    border-radius: 12px;
    height: 16px;
}
.title>h3{
    line-height: 16px;
}

.menus{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}

.menu{
    width: 32%;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 8px;
    box-shadow: 0 0 10px 1px #ccc;
}

.m_img{
    width: 100%;
    height: 180px;
    background-color: #fff;
    background-image: url(./C.png);
    background-size: cover;
    background-position: center;
}

.m_bot{
    background-color: #fff;
    padding: 8px;
}

.l_menu{
    padding: 8px 16px 26px;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px #ccc;
    margin-bottom: 8px;
}